<a href="https://colab.research.google.com/github/a-vitale/Homework4-IDD/blob/main/schema_alignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!pip install valentine
!pip install pyxtension

Requirement already satisfied: valentine in /usr/local/lib/python3.7/dist-packages (0.1.4)
Requirement already satisfied: pandas<1.4,>=1.3 in /usr/local/lib/python3.7/dist-packages (from valentine) (1.3.5)
Requirement already satisfied: PuLP<2.6,>=2.5.1 in /usr/local/lib/python3.7/dist-packages (from valentine) (2.5.1)
Requirement already satisfied: scipy<2.0,>=1.7 in /usr/local/lib/python3.7/dist-packages (from valentine) (1.7.3)
Requirement already satisfied: chardet<5.0.0,>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from valentine) (4.0.0)
Requirement already satisfied: python-Levenshtein==0.12.2 in /usr/local/lib/python3.7/dist-packages (from valentine) (0.12.2)
Requirement already satisfied: numpy<2.0,>=1.21 in /usr/local/lib/python3.7/dist-packages (from valentine) (1.21.5)
Requirement already satisfied: nltk<3.7,>=3.6 in /usr/local/lib/python3.7/dist-packages (from valentine) (3.6.7)
Requirement already satisfied: six<1.17,>=1.16 in /usr/local/lib/python3.7/dist-packages (from valentine) (1.16.0)
Requirement already satisfied: python-dateutil<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from valentine) (2.8.2)
Requirement already satisfied: anytree<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from valentine) (2.8.0)
Requirement already satisfied: pyemd==0.5.1 in /usr/local/lib/python3.7/dist-packages (from valentine) (0.5.1)
Requirement already satisfied: snakecase<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from valentine) (1.0.1)
Requirement already satisfied: strsim==0.0.3 in /usr/local/lib/python3.7/dist-packages (from valentine) (0.0.3)
Requirement already satisfied: networkx<2.7,>=2.6 in /usr/local/lib/python3.7/dist-packages (from valentine) (2.6.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein==0.12.2->valentine) (57.4.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk<3.7,>=3.6->valentine) (4.62.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<3.7,>=3.6->valentine) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk<3.7,>=3.6->valentine) (2022.1.18)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk<3.7,>=3.6->valentine) (7.1.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<1.4,>=1.3->valentine) (2018.9)
Collecting pyxtension
  Downloading pyxtension-1.13.16-py3-none-any.whl (27 kB)
Collecting pydantic>=1.6.1
  Downloading pydantic-1.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 7.7 MB/s
Requirement already satisfied: tblib>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from pyxtension) (1.7.0)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.7/dist-packages (from pyxtension) (4.62.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic>=1.6.1->pyxtension) (3.10.0.2)
Installing collected packages: pydantic, pyxtension
Successfully installed pydantic-1.9.0 pyxtension-1.13.16

In [13]:
import pandas as pd
import pyxtension.streams
from valentine import valentine_match, valentine_metrics
from valentine.algorithms import Coma
from pyxtension.streams import stream

In [14]:
# Load data using pandas
table_name_list = ["aziende.csv", "companies-1.1.csv", "indeed.csv", "kpopfandom-companies.csv",
                   "kpopping-companies.csv", "lseg2018.csv", "Scarano-companies-finance.yahoo.com-1.csv",
                   "Scarano-companies-investing.com-1.csv", "yelp.csv", "companies-2.1.csv", "ftCompanies2018.csv"]
dfs = stream(table_name_list).map(lambda x: "sources/" + x).map(lambda x: pd.read_csv(x)).toList()
dfs[7] = dfs[7].drop(["Unnamed: 0","Unnamed: 0.1"], axis=1)
dfs[6] = dfs[6].drop(["Unnamed: 0","Unnamed: 0.1"], axis=1)

In [23]:


# Instantiate matcher and run
matcher = Coma(0, "COMA_OPT")
# matches = valentine_match(dfs[0], dfs[1], matcher)

# funzione che crea la risultante 
def createResultTable(df1, df2):
  result_table = pd.DataFrame()
  matches = valentine_match(df1, df2, matcher)
  for key in matches.keys():
    if matches[key] >= 0.479:
      result_table[key[0][1]] = pd.concat(df1[key[0][1]], df2[key[1][1]], axis=0)
    else 
    

# print(matches)

{(('table_1', 'website'), ('table_2', 'website')): 0.8054335, (('table_1', 'company_name'), ('table_2', 'name')): 0.4646289, (('table_1', 'country'), ('table_2', 'industry')): 0.41715643, (('table_1', 'sector'), ('table_2', 'ticker')): 0.31343842}

In [64]:
  matches = valentine_match(dfs[5], dfs[10], matcher)
  result_table = pd.DataFrame()
  print(matches)
  for key in matches.keys():
    if matches[key] >= 0.479:
      result_table[key[0][1]] = pd.concat([dfs[5][key[0][1]], dfs[10][key[1][1]]], axis=0)
  print(len(dfs[5].index))
  print(len(dfs[10].index))
  print(len(result_table.index))
  result_table

{(('table_1', 'revenue_euros'), ('table_2', 'revenue_euros')): 0.94141257, (('table_1', 'company_name'), ('table_2', 'company_name')): 0.9407823, (('table_1', 'website'), ('table_2', 'website')): 0.93697906, (('table_1', 'country'), ('table_2', 'country')): 0.93697906, (('table_1', 'sector'), ('table_2', 'sector')): 0.9360554}
1000
1000
2000

    revenue_euros  ...             sector
0      40M to 50M  ...      Manufacturing
1     75M to 100M  ...      Manufacturing
2     75M to 100M  ...      IT Technology
3      30M to 40M  ...          Wholesale
4     75M to 100M  ...  Consumer Services
..            ...  ...                ...
995            4M  ...          Chemicals
996            2M  ...   Support Services
997            7M  ...        Advertising
998            3M  ...        Restaurants
999            1M  ...        Restaurants

[2000 rows x 5 columns]