In [22]:
pip install valentine

Requirement already satisfied: valentine in c:\users\aarac\anaconda3\lib\site-packages (0.1.4)Note: you may need to restart the kernel to use updated packages.

ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

spyder 4.1.5 requires pyqt5<5.13; python_version >= "3", which is not installed.
spyder 4.1.5 requires pyqtwebengine<5.13; python_version >= "3", which is not installed.
conda 4.11.0 requires ruamel_yaml_conda>=0.11.14, which is not installed.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
requests 2.23.0 requires chardet<4,>=3.0.2, but you'll have chardet 4.0.0 which is incompatible.

Requirement already satisfied: snakecase<2.0,>=1.0 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (1.0.1)
Requirement already satisfied: scipy<2.0,>=1.7 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (1.7.3)
Requirement already satisfied: pyemd==0.5.1 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (0.5.1)
Requirement already satisfied: networkx<2.7,>=2.6 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (2.6.3)
Requirement already satisfied: python-Levenshtein==0.12.2 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (0.12.2)
Requirement already satisfied: python-dateutil<2.9,>=2.8 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (2.8.1)
Collecting chardet<5.0.0,>=4.0.0
  Using cached chardet-4.0.0-py2.py3-none-any.whl (178 kB)
Requirement already satisfied: anytree<2.9,>=2.8 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (2.8.0)
Requirement already satisfied: pandas<1.4,>=1.3 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (1.3.5)
Requirement already satisfied: six<1.17,>=1.16 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (1.16.0)
Requirement already satisfied: strsim==0.0.3 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (0.0.3)
Requirement already satisfied: PuLP<2.6,>=2.5.1 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (2.5.1)
Requirement already satisfied: numpy<2.0,>=1.21 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (1.22.1)
Requirement already satisfied: nltk<3.7,>=3.6 in c:\users\aarac\anaconda3\lib\site-packages (from valentine) (3.6.7)
Requirement already satisfied: setuptools in c:\users\aarac\anaconda3\lib\site-packages (from python-Levenshtein==0.12.2->valentine) (50.3.1.post20201107)
Requirement already satisfied: pytz>=2017.3 in c:\users\aarac\anaconda3\lib\site-packages (from pandas<1.4,>=1.3->valentine) (2019.3)
Requirement already satisfied: joblib in c:\users\aarac\anaconda3\lib\site-packages (from nltk<3.7,>=3.6->valentine) (0.17.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\aarac\anaconda3\lib\site-packages (from nltk<3.7,>=3.6->valentine) (2022.1.18)
Requirement already satisfied: tqdm in c:\users\aarac\anaconda3\lib\site-packages (from nltk<3.7,>=3.6->valentine) (4.50.2)
Requirement already satisfied: click in c:\users\aarac\anaconda3\lib\site-packages (from nltk<3.7,>=3.6->valentine) (7.0)
Installing collected packages: chardet
  Attempting uninstall: chardet
    Found existing installation: chardet 3.0.4
    Uninstalling chardet-3.0.4:
      Successfully uninstalled chardet-3.0.4
Successfully installed chardet-4.0.0

In [1]:
import pandas as pd
from valentine import valentine_match, valentine_metrics
from valentine.algorithms import Coma
from pyxtension.streams import stream

In [31]:
# Load data using pandas
table_name_list = ["aziende.csv", "companies-1.1.csv", "indeed.csv", "kpopfandom-companies.csv",
                   "kpopping-companies.csv", "lseg2018.csv", "Scarano-companies-finance.yahoo.com-1.csv",
                   "Scarano-companies-investing.com-1.csv", "yelp.csv", "companies-2.1.csv", "ftCompanies2018.csv"]
dfs = stream(table_name_list).map(lambda x: "sources/" + x).map(lambda x: pd.read_csv(x)).toList()
dfs[7] = dfs[7].drop(["Unnamed: 0","Unnamed: 0.1"], axis=1)
dfs[6] = dfs[6].drop(["Unnamed: 0","Unnamed: 0.1"], axis=1)

In [39]:


# Instantiate matcher and run
matcher = Coma(0, "COMA_OPT")
matches = valentine_match(dfs[1], dfs[10], matcher)


print(matches)

{(('table_1', 'number of employees'), ('table_2', 'employees')): 0.5134779, (('table_1', 'company website'), ('table_2', 'website')): 0.5014587, (('table_1', 'business sector'), ('table_2', 'sector')): 0.46409783, (('table_1', 'headquarters country'), ('table_2', 'country')): 0.44030386, (('table_1', 'annual revenue in usd'), ('table_2', 'revenue_euros')): 0.30825132}

In [41]:
dfs[1]

,name,rank in country (jan-2021),employee count as on date,number of employees,market value (jan-01-2021),company business,world rank (sep-01-2021),world rank (jan-01-2021),world rank (jan-2020),ceo,...,headquarters country,stock category,about company business,annual revenue in usd,annual results for year ending,market cap (sep-01-2021),business sector,stock exchange,isin code,chairman
0,apple,company rank in usa in 2021 is 1,as on 2020,147,2256.000 billion usd,technology,1,1.0,2.0,tim cook,...,usa,dow jones index (djia),"apple company designs, manufactures and market...","274,510 million usd",sep-2020,"2,510.000 billion usd",top technology companies in usa,nasdaq,NaN,NaN
1,microsoft corporation,company rank in usa in 2021 is 2,as on 2020,"156,439",1682.000 billion usd,technology,2,3.0,3.0,satya nadella,...,usa,dow jones index (djia),"microsoft develops software packages, windows ...","143,000 million usd",jun-2020,"2,269.000 billion usd",top technology companies in usa,nasdaq,us5949181045,NaN
2,alphabet,company rank in usa in 2021 is 4,as on 2020,"135,301",1185.000 billion usd,technology,3,5.0,4.0,sundar pichai,...,usa,s&p 500,alphabet inc is technology company and is pare...,"182,520 million usd",dec-2020,"1,934.000 billion usd",top technology companies in usa,nasdaq,NaN,NaN
3,saudi arabian oil company (saudi aramco),company rank in saudi arabia in 2021 is 1,as on 2020,"66,8",2051.500 billion usd,energy,4,2.0,1.0,amin h. al-nasser,...,saudi arabia,NaN,"saudi aramco is oil and gas exploration, refin...","232,740 million usd",dec-2020,"1,891.600 billion usd",top energy companies in saudi arabia,tadawul,NaN,NaN
4,amazon.com,company rank in usa in 2021 is 3,as on 2021,"1,335,000",1634.000 billion usd,ecommerce,5,4.0,5.0,andy jassy,...,usa,s&p 500,amazon.com is the world's biggest e-commerce p...,"386,060 million usd",dec-2020,"1,758.000 billion usd",top technology companies in usa,nasdaq,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9880,weatherford international plc,NaN,NaN,NaN,NaN,energy,"9,121",NaN,NaN,NaN,...,usa,NaN,weatherford international plc is the leading w...,NaN,NaN,1.105 billion usd,NaN,NaN,NaN,NaN
9881,"shuyu civilian pharmacy corp., ltd.",NaN,NaN,NaN,NaN,healthcare,"9,122",NaN,NaN,NaN,...,china,NaN,NaN,NaN,NaN,1.104 billion usd,NaN,shenzhen,NaN,NaN
9882,jiangsu zongyi,company rank in china in 2021 is 1615,NaN,NaN,1.222 billion usd,technology,"9,123",7144.0,7602.0,NaN,...,china,NaN,NaN,NaN,NaN,1.104 billion usd,top technology companies in china,shanghai,NaN,NaN
9883,sdcl energy efficiency income trust,company rank in uk in 2021 is 445,NaN,NaN,0.766 billion usd,energy,"9,124",9293.0,NaN,NaN,...,uk,NaN,sdcl energy efficiency income trust invests ex...,52 million usd,mar-2021,1.104 billion usd,NaN,lse,NaN,NaN
9884,banco santander rio,company rank in argentina in 2021 is 12,NaN,NaN,1.098 billion usd,financial services,"9,125",7589.0,6836.0,NaN,...,argentina,NaN,banking and financial services company with he...,"1,705 million usd",dec-2020,1.104 billion usd,NaN,NaN,NaN,NaN

In [40]:
dfs[10].head()

,company_name,website,sector,country,revenue_euros,employees,founded
0,Deliveroo*,https://deliveroo.co.uk,Food & Beverage,United Kingdom,157M,1049.0,2013
1,Thermondo,https://thermondo.de,Energy,Germany,20M,300.0,2012
2,Traventia Viajes*,https://traventia.es,Travel & Leisure,Spain,10M,20.0,2013
3,Alainsa,https://alainsa.com,Construction,Spain,10M,20.0,1980
4,iTravex,https://itravex.es,Travel & Leisure,Spain,22M,37.0,2007